

.story_container {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    
}

